
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Bolierplate accessibilty statement for your prototype
      </h1>

      <p>marked up boilerplate html - you can drop into any gov kit prototype page - create a new page, and replace all the code inside the page with the contents of this: <a href="/public/files/boilerpate-accessibility-proto-html.txt">protoype kit boilerplate accessibility statement html text file</a>.</p>
      <p>the hmtl contains the call-to-actions, but as html comments.  The call to actions are the notes about what to do in each section.</p>

      <p>If you want to see the call to actions. uncomment them out in the html, and add the following css to the bottom of the application.scss file (app -> assets -> sass -> application.scss).
      <pre class="app-code">
      	<code>
      		{% raw %}
.call-to-action {
	margin: 2em 0;
	background-color: #f3f2f1;
	padding: 2em;
}
					{% endraw %}
      	</code>
      </pre>

    </div>
	</div>

{% endblock %}
