
{% extends "layout.html" %}

{% block pageTitle %}
  Template accessibilty statement for HM Land Registry services and products
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Template Accessibilty Statement for HM Land Registry services and products
      </h1>

      <p class="govuk-body-l">
        This is the legally agreed wording for HMLR accessibilty statements for outward facing services</p>

      <p>The standard sections and pargagraphs, with advice on what to add/change for your product/service's specific accessibility situation</p>

      <p>
      	Follow the advice within the template when creating your own statement.  If you believe there is an error with, or you require clarification about, any of the parts of the statement contact the [name of dept/role to contact] laywer
      </p>

      <p>Our accessibility statement is based on the <a href="https://www.gov.uk/government/publications/sample-accessibility-statement">GOV.UK sample accessibility statement and guidance notes, for public services and apps</a>.</p>


      <h2 class="govuk-heading-l">Get a statement to use for your service</h2>

      <p>The html page is marked up with the standard GOV.UK markup and classes, and can be dropped into any basic protoype kit page, with no additional css.</p>

      <p>To style differently replace the gov.uk classes with your own, as the html is semantically correct (todo: test this and it's accessibilty)</p>

      <p>Show me the HMLR approved statement:
	      <ul class="govuk-list govuk-list--bullet">
	      	<li>the example <a href="boilerplate-hmlr-statement"> boilerplate statement page</a> with guidance notes</li>
	      	<li>an <a href="boilerplate-html">html version to copy and paste into my own prototype</a> or service front end</li>
	      </ul>
	    </p>

    </div>
	</div>

{% endblock %}
