
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Boilerplate Accessibilty Statement
      </h1>

      <p>
        This is a copy of {{releaseVersion}} of the GOV.UK protoype kit used to rapidly create HTML prototypes.
      </p>

      <p>
        This proto contains a boilerplate version of the accessibilty statement needed for public services.
      </p>

      <p>
        The boilerplate html can be copied to put into any prototype.  This isn't to replace the statement or advice on GOV.UK or the design manual.  Its to save me (you) turning the boilerplate copy into html each time you need it.
      </p>

      <p>
        Hopefully it reduces the overhead/time between accessibilty testers, content designers and front enders in making the real accessibility statement (by adding in the results of accessibility testing earlier) - to make something everyone can see much earlier on. Making the testing of bespoke accessibility content with users easier, earlier.
      </p>


      <h2 class="govuk-heading-m">Sample accessibility statement</h2>

      <p><a href="https://www.gov.uk/government/publications/sample-accessibility-statement">GOV.UK puplish a sample accessibility statement and guidance notes, for public services and apps</a>.  We also use the same accessibility statement and guidance for internal gov (casework) websites and apps.</p>

      <p>Boilerplate page is marked up with the standard GOV.UK markup and classes, and can be dropped into any basic protoype kit page, with no additional css.</p>

      <p>Show me the:
	      <ul class="govuk-list govuk-list--bullet">
	      	<li>example <a href="boilerplate-statement">boilerplate page</a></li>
	      	<li><a href="boilerplate-html">html to copy and paste into my own proto</a></li>
	      </ul>
	    </p>
    

      <h2 class="govuk-heading-m">To Do</h2>

      <ul class="govuk-list govuk-list--bullet">
      	<li>add the statement and code (with instructions) to drop into any kit page</li>
      	<li>check the markup is: semantically correct, uses the design system markup and css</li>
      	<li>accessiiblty check the page</li>
      </ul>


    </div>
	</div>

{% endblock %}
